@import "styles/theme";
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 100%;
  height: auto;
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.card:active {
  box-shadow: 0px 10px 20px $accent;
  z-index: 1;
}
