.card-display {
    width: 860px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-placeholder {
    width: 100px;
    height: 150px;
    background-color: #ccc;
    border: 1px solid #888;
    margin: 10px;
    border-radius: 5px;
  }
  