.card-display {
  width: 600px;
  height:600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-row {
  margin-bottom: 45px;
  margin-left:150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-placeholder {
  width: 100px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
}


.card {
  width: 100px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  background-color: red;
}
