@import "styles/theme";
.card {
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  height: 120px;
  margin-right: 16px;
  width: 80px;

  &.diamonds {
    background-color: #ffebf1;
  }

  &.hearts {
    background-color: #ffe4e4;
  }

  &.clubs {
    background-color: #f5f5f5;
  }

  &.spades {
    background-color: #e6e6e6;
  }
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.card:active {
  transform: translateY(-30px);
  box-shadow: 0px 10px 20px $accent;
  z-index: 1;
}
