@import "styles/theme";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$card-background-image: url(../image/card-background.jpg);

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.gamescreen {
  width: 100vw; /* Default width value */
  height: 100vh; /* Default height value */
  padding: 2em;
  background: $card-background-image;
  background-size: cover;

  &.exceeds-cards {
    height: 130vh; /* Height value when tableCards exceed 12 */
    width: 120vw; /* Height value when tableCards exceed 12 */
  }

  
  &.container {
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .opponent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;
        width: 80%;
      }
    }

    .bottom {
      padding-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .bottom-right {
        display: flex;
        flex-direction: column;
        max-width: 38.2%;

        .menu-container {
          background: white;
          border: 1px solid black;
          border-radius: 10px;
          padding: 10px;
          display: flex;
          width: fit-content;
          min-width: 8em;
          flex-direction: column;
          align-items: center;
          overflow: visible;
          justify-content: space-between;
          margin-right: 2em;
          margin-bottom: auto;
          align-self: right;
          margin-left: auto;
        }

      }
    }


    .button-container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .surrender-button {
        font-family: "Inter", sans-serif;
        font-size: 1.3vw;
        font-weight: bold;
        height: fit-content;
        padding: 10px 10px;
        width: 100%;
        min-width: fit-content;
        background-color: #ED5D39;
        color: #ffffff;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
        cursor: pointer;
        margin-right: 5px;

        &:hover {
          background-color: #fff;
          color: #f00;
          border: 1px solid #f00;
        }
      }
    }

    .endOfRound {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .opponentLeft {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;

      .overlay-content {
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        max-width: 80%;

        h2 {
          margin-top: 0;
          font-size: 24px;
        }

        p {
          font-size: 18px;
          margin-bottom: 20px;
        }

        button {
          background-color: #f00;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 18px;
          cursor: pointer;

          &:hover {
            background-color: #d00;
          }
        }
      }
    }

    .waitEndOfRound {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
