@import "styles/theme";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$card-background-image: url(../image/card-background.jpg);

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.gamescreen {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: $card-background-image;
  background-size: cover;

  &.container {
    display: grid;
    grid-template-rows: 70% 25% 5%;
    grid-template-columns: 1fr;

    .top {
      grid-template-rows: 1fr;
      grid-template-columns: 75% 25%;
      display: grid;

      .left {
        grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
        display: grid;

        .opponent {
          grid-template-rows: 1fr;
          grid-template-columns: 75% 25%;
          display: grid;

          .opponent-cards {
            padding: 1em;

            .cardback {
              width: 80px;
              height: auto;
              margin-right: -30px;
            }
          }
          .opponent-discards {
            background-color: black;
          }
          .turnInfo {
          }
        }
        .turn-info-container {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          .turn-info-form {
            flex-direction: row;
            background: white;
            font-family: "Inter", sans-serif;
            font-size: 0.8rem;
            font-weight: bold;
            width: 80%;
            margin: auto;
            padding: 0.5rem;
            border: 2px solid black;
            border-radius: 25px;
          }
          .loading-gif {
            width: 50px;
            height: 50px;
          }
        }
      }
      .table {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      .inner-table {
        background-color: #8b0000;
        max-width: 70%;
        min-height: fit-content;
        max-height: 90%;
        border: 2px solid white;
        border-radius: 25px;
        transition: border-style 1s ease-in-out;
      }
    }
    .right {
      grid-template-rows: 60% 40%;
      grid-template-columns: 1fr;
      display: grid;
      .statistics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Inter", sans-serif;
        font-size: 2rem;
        font-weight: bold;

        .player-names {
          background-color: white;
          border: 1px solid black;
          border-radius: 25px;
          padding: 20px;
          display: flex;
          align-items: center;
          margin-bottom: 2rem;

          .guest-name {
            font-size: 1.2rem;
            margin-right: 4rem;
          }

          .points {
            display: flex;
            align-items: center;

            .guest-points {
              font-size: 2rem;
              color: #f00;
              margin-right: 0.5rem;
            }

            .points-divider {
              font-size: 2rem;
              color: #000;
            }

            .host-points {
              font-size: 2rem;
              color: #00f;
              margin-left: 0.5rem;
            }
          }

          .host-name {
            font-size: 1.2rem;
            margin-left: 4rem;
          }
        }

        .surrender-button-container {
          display: flex;
          justify-content: center;

          .surrender-button {
            font-family: "Inter", sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 1rem 3rem;
            background-color: darkred;
            color: #ffffff;
            border: 1px solid white;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
              background-color: #fff;
              color: #f00;
              border: 2px solid #f00;
            }
          }
        }
      }
      .discard-pile {
        grid-template-rows: 60% 40%;
        grid-template-columns: 1fr;
        display: grid;
        .stack {
          position: relative;
          text-align: center;
          margin-left: 35%;
          margin-top: 20px;
        }
        .stack .card {
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid black;
        }
        .stackHeight {
          background-color: white;
          justify-content: center;
          align-items: center;
          font-family: "Inter", sans-serif;
          font-size: 0.8rem;
          width: 100%;
          height: 70%;
          border: 2px solid white;
          border-radius: 25px;
          border-color: #000;
          font-weight: bold;
          text-align: center;
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem;
    }

    .endOfRound {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .playerHandContainer {
      border: 0.1px solid gray;
      display: flex;
      overflow: hidden;

      .playerHand {
        font-family: "Inter", sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        background: #daa520;
        width: fit-content;
        height: fit-content;
        padding: 1.5em;
        margin: 0 auto;
        display: table-column;
        justify-content: center;
        float: left;
        border: 2px solid white;
        border-radius: 25px;
        transition: border-style 1s ease-in-out;
        overflow: hidden;
      }

      .playerHand:hover {
        border-style: dashed;
        border-color: darkred;
      }

      .selectedCard {
        font-family: "Inter", sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        background: #daa520;
        width: fit-content;
        height: fit-content;
        padding: 1.5em;
        margin: 0 auto;
        display: table-column;
        justify-content: center;
        float: left;
        border: 2px solid white;
        border-radius: 25px;
        transition: border-style 1s ease-in-out;
        overflow: hidden;
      }

      .player-info {
        font-family: "Inter", sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        background: #daa520;
        width: fit-content;
        height: fit-content;
        padding: 1.5em;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        float: left;
        border: 2px solid white;
        border-radius: 25px;
      }
    }
  }
}
