@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.gamescreen {
  
  &.container {
    background: $background;
    padding: 1.5em;
    margin-top: calc(100vh/4);
    margin-left: calc(100vw/2);
    margin-right: calc(100vw/4);
    margin-bottom: auto;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    
  }
}
