@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {
  
  &.container {
    background: $background;
    padding: 1.5em;
    margin-top: calc(100vh/4);
    margin-left: calc(100vw/2);
    margin-right: auto;
    margin-bottom: auto;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    
  }

  .rectangle {
    background-color: #ffffff;
    width: 80%;
    height: 10vh;
    margin: 0 auto; 
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    width: 100%;
  }

  button1 {
    width: 50%;
    padding: 1em;
    border: none;
    border-radius: $borderRadius;
    background: $accent;
    color: $textColor;
    font-size: 1.2em;
    text-align: center;
    margin: 0 0.5em;
    transition: background-color 0.2s ease-in-out;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    &:first-child {
      margin-left: 0;
    }
    
    &:last-child {
      margin-right: 0;
    }
    
    &:hover {
      background: $accentDark;
      transform: translateY(-1px);
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    }

    &.with-icon {
      background-image: url('/image/add.svg');
      background-position: center top;
      background-position-y: calc(5%);
      background-repeat: no-repeat;
      padding-top: 2em; 
      padding-right: 10px;
    }
  }

  button2{
    width: 50%;
    padding: 1em;
    border: none;
    border-radius: $borderRadius;
    background: $accentDark;
    color: $textColor;
    font-size: 1.2em;
    text-align: center;
    margin: 0 0.5em;  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    &:first-child {
      margin-left: 0;
    }
    
    &:last-child {
      margin-right: 0;
    }

    
  }

  & p,h2 {
    margin: 0.5em 0;
  }
}
