@import 'styles/theme';

.header {
  &.container {
    @include center;
    font-family: $fontDefault;
    background-color: white;
    max-width: 80%;
    min-width: fit-content;
    height: 90px;
    margin: 0 auto;
    box-shadow: $dropShadow;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;

    .title {
      font-weight: bold;
      font-size: 40px;
      color: rgb(0, 0, 0);
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      white-space: nowrap;
    }
    // TODO: fix that buttons div encapsulates all buttons
    .buttons {
      display: flex;
      flex-direction: row;
      margin: auto;
      
      .button {
        background-color: $accentDark;
        color: $textColor;
        border-radius: $borderRadiusSmallButtons;
        font-size: 1.5em;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-inline: 10%;
        margin-right: 10px;
        min-width: fit-content;
        transition: background-color 0.2s ease-in-out;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
        &:hover {
          background: $accentDark;
          transform: translateY(-1px);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
