@import "styles/theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.home {
  &.form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 5em;
    max-width: 30em;
    min-width: fit-content;
    min-height: fit-content;
    font-size: 20px;
    font-weight: 300;
    padding: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  .rectangle {
    background-color: #ffffff;
    width: 80%;
    height: 10vh;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
