@import "styles/theme";

.lobby {
  &.container {
    flex-direction: column;
    margin-top: 8vh;
    margin-left: calc(100vw / 4);
    margin-right: auto;
    margin-bottom: auto;
    @include center;
  }

  &.form {
    background: $background;
    display: block;
    padding: 1em;
    font-family: $fontDefault;
    box-shadow: $dropShadow;
    height: auto;
    width: calc(100vw / 3);
    min-width: fit-content;
    max-width: 40em;
    border-radius: 0.75em;

    .title-container {
      display: flex;
      align-items: center;
      margin-top: 1em;
      margin-bottom: 1em;
      max-height: 10em;
      
      .title {
        margin-left: 0.5em;
        margin-right: 1em;
        font-style: normal;
        font-size: 35px;
        color: black;
        margin-top: 0;
        margin-bottom: 0;

        .loading-gif {
          width: 40px;
          height: 40px;
        }
      }

      .lobby-code {
        font-family: $fontDefault;
        font-style: normal;
        font-weight: 100;
        margin-left: auto;
        margin-right: 0.5em;
      }
    }
    .listings-container {
      margin-bottom: 3em;
      // Subtitle and Spectators
      .subtitle-spectator-container {
        h4 {
          margin-bottom: 0;
        }
        h2 {
          margin-bottom: 0;
        }
        display: flex;
        height: min-content;
        align-items: baseline;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 0.2em;
        border-bottom: 0.1px solid #8f8f8f;

        .subtitle {
          margin-left: 0em;
          font-style: normal;
          font-weight: bold;
          font-size: x-large;
          color: #e76f51;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }

        .game-code {
          margin-left: auto;
          font-style: normal;
          font-weight: normal;
          font-size: x-large;
          color: #000000;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }

        .spectators {
          font-style: normal;
          font-weight: 100;
          margin-left: auto;
          margin-right: 0.5em;
        }
        .spectators-number {
          margin-left: 0.5em;
        }
      }

      //Player list
      .row-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0.5em;
        margin-right: 0.5em;
        border-bottom: 0.1px solid #8f8f8f;

      

        h4 {
          display: inline-block;
          margin: 0;
          font-size: x-large;
          font-family: $fontDefault;
          font-style: normal;
          font-weight: 100;
          white-space: nowrap;
        }

        .loading-gif {
          width: 30px;
          height: 30px;
        }

        .name {
          margin: 0.5em;
        }

        .host {
          margin: 0.5em;
          margin-left: auto;
        }

        .kick-player {
          background-color: white;
          border: 0.1px solid #8f8f8f;
          color: red;
          margin: 0;
          height: auto;
          box-shadow: $dropShadow;
          font-family: $fontDefault;
          font-style: normal;
          font-size: 11px;
        }
      }
    }
  }
}
