@import "styles/theme";

.login {
  &.form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 8vh;
    max-width: 30em;
    min-width: fit-content;
    min-height: fit-content;
    font-size: 20px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 40px;
    padding-left: 15px;
    margin-left: -4px;
    max-width: 80%;
    font-size: medium;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
    background-color: $accent;
    box-shadow: $dropShadow;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
  }
  .button-container {
    position: relative;
    display: block;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    button {
      background-color: #e9c46a;
    }
  }
  .title {
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.2em;
  }
  .subtitle {
    font-style: normal;
    font-weight: bold;
    color: #e76f51;
    margin-top: 0em;
  }

  .hr-sect {
    display: flex;
    flex-basis: 100%;
    width: 80%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }
}
