@import "styles/theme";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/image/loginBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.registration {
  &.container {
    padding-top: calc(100vh / 50);
    padding-left: calc(100vw / 4);
    min-height: 300px;
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 30em;
    height: auto;
    font-size: 20px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 40px;
    padding-left: 15px;
    margin-left: -4px;
    max-width: 80%;
    font-family: $fontDefault;
    font-size: medium;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
    background-color: $accent;
    box-shadow: $dropShadow;
  }
  &.label {
    color: $textColor;
    font-family: $fontDefault;
    margin-bottom: 10px;
    font-weight: 300;
  }
  .button-container {
    position: relative;
    display: block;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    button {
      background-color: #e9c46a;
    }
  }
  .title {
    font-family: $fontDefault;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.2em;
  }
  .subtitle {
    font-family: $fontDefault;
    font-style: normal;
    font-weight: bold;
    color: #e76f51;
    margin-top: 0em;
  }

  .hr-sect {
    display: flex;
    flex-basis: 100%;
    width: 80%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }
}
