@import 'styles/theme';

body {
  background: #dc802a;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px;

  h1 {
    font-size: 40px;
    line-height: 0.8em;
    color: rgba(0, 0, 0, 0.613);
    font-weight: bold;
    

      }
  h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 0.8em;
    color: rgba(0, 0, 0, 0.613);
    } 
  }

  .rulebook {
    &.rulebook-tabs {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    
      .rulebook-tab {
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border-radius: 4px 4px 0 0;
        background-color: #222;
        color: #fff;
        margin-right: 1rem;
        transition: background-color 0.2s ease-in-out;
    
        &:last-child {
          margin-right: 0;
        }
    
        &.active {
          background-color: #444;
        }
      }
    }
    
    .rulebook-section {
      display: block;
    
      &.active {
        display: block;
      }
    }
  

    
  }