@import 'styles/theme';


  .rulebook {
    &.rulebook-tabs {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    
      .rulebook-tab {
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border-radius: 4px 4px 0 0;
        background-color: #222;
        color: #fff;
        margin-right: 1rem;
        transition: background-color 0.2s ease-in-out;
    
        &:last-child {
          margin-right: 0;
        }
    
        &.active {
          background-color: #444;
        }
      }
    }
    
    .rulebook-section {
      display: block;
      background-color: #fff;
    
      &.active {
        display: block;
      }
    }

    .content {
      background-color: #fff;
    }
  

    
  }