@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$primary-color: #0074D9;
$secondary-color: #FF4136;
$light-gray: #F5F5F5;
$dark-gray: #333333;
$font-family: 'Inter', sans-serif;

.end-of-round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  padding: 50px;
  font-family: $font-family;
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    
    th, td {
      text-align: center;
      padding: 10px;
    }
    
    th {
      font-weight: bold;
      background-color: $primary-color;
      color: white;
    }
    
    tr:nth-child(even) {
      background-color: white;
    }
    
    tr:nth-child(odd) {
      background-color: $light-gray;
    }
    
    tr:first-child {
      background-color: $secondary-color;
      color: white;
    }
    
    td:first-child, th:first-child {
      text-align: left;
      padding-left: 20px;
    }
  }

  .nextRound-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .nextRound-button {
      font-family: 'Inter', sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 1rem 3rem;
      background-color: #E9C46A;
      color: #fff;
      border: 1px solid #8F8F8F;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: green;
        border: 2px solid green;
      }
    }
  }
}
