@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.end-of-tutorial {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 65vh;
  font-family: 'Inter', sans-serif;
  border: 2px solid #4a4e69;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #fff;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .endTutorial-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .endTutorial-button {
      font-family: 'Inter', sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 1rem 3rem;
      background-color: #E9C46A;
      color: #fff;
      border: 1px solid #8F8F8F;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: green;
        border: 2px solid green;
      }
    }
  }
}
