@import "styles/theme";

.player-discards {
  text-align: center;
  width: 35%;
  min-width: fit-content;
  margin-left: 50px;

  .player-discards-cards {
    display: flex;
    flex-direction: row;

    .card-container-discard {
      width: 9vw;
      min-width: 85px;
      height: auto;
      display: flex;
      margin-right: -80px;
  
      .cardback {
        width: 100%;
        height: 100%;
      }
    }

    .discard-overlay {
      position: fixed;
      z-index: 100;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;

      .cards-container-discard-overlay {
        width: 80%;
        height: 80%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;

        .card-container-discard-overlay {
          width: 12%;
          min-width: 50px;
          height: fit-content;
          margin-right: -20px;
        }
      }
    }

    .stackHeight {
      text-align: center;
      flex-direction: row;
      background: white;
      font-family: "Inter", sans-serif;
      font-size: 1.1vw;
      font-weight: bold;
      white-space: nowrap;
      width: 100% ;
      padding: 0.5rem;
      border: 2px solid black;
      border-radius: 8px;
    }
  }
}
