@import "styles/theme";

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .inner-table {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    max-height: 90%;
    height: fit-content;
    transition: border-style 1s ease-in-out;
  }
}
