@import "styles/theme";

.playerHandContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30%;
  width: 90vw;
  position: absolute;
  bottom: 0px;
  padding-top: 20px;
  overflow: hidden;
  pointer-events: none;

  .playerHand {
    display: flex;
    width: 55vw;
    justify-content: center;

    .card-container-hand {
      pointer-events: all;
      height: auto;
      min-width: 50px;
      width: 18%;
      margin-right: -12%;
    }
  }
}
