@import "styles/theme";

.score-info {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  margin-right: 1em;
  margin-left: 1em;
  align-items: center;

  .player-names {
    max-height: fit-content;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vw;
    display: flex;
    align-items: center;

    .guest-name {
      font-size: 1.8vw;
      margin-right: 2.5vw;
      max-width: 150px;
    }

    .points {
      display: flex;
      align-items: center;

      .guest-points {
        font-size: 2.8vw;
        color: #f00;
        margin-right: 0.5rem;
      }

      .points-divider {
        font-size: 2.8vw;
        color: #000;
      }

      .host-points {
        font-size: 2.8vw;
        color: #00f;
        margin-left: 0.5rem;
      }
    }

    .host-name {
      font-size: 1.8vw;
      margin-left: 2.5vw;
    }

    .image-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px;
      width: 5vw;
      height: 5vw;
      min-width: 30px;
      min-height: 30px;

      h1 {
        font-family: "Inter", sans-serif;
        font-size: 2rem;
        font-weight: bold;
        margin-left: 20px;
      }

      .image-upload {
        position: relative; // add this to make the overlay image absolute
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: rgb(0, 0, 0 / 16%) 0px 3px 6px,
          rgb(0, 0, 0 / 23%) 0px 3px 6px;
        margin: 0px auto 0px auto;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}
