@import "styles/theme";

.turn-info-container {
  text-align: center;
  display: flex;
  align-items: center;
  max-width: fit-content;

  .turn-info-form-myTurn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    white-space: nowrap;
    max-width: min-content;

    .description {
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .turn-info-form-oppTurn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    white-space: nowrap;
    max-width: min-content;

    .description {
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .loading-gif {
      width: 25%;
      height: 25%;
    }
  }
  
}
