@import "styles/theme";

.prompt-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3em;
  margin-bottom: 1em;

  .prompt-form {
    flex-direction: row;
    background: #009b77;
    font-family: "Inter", sans-serif;
    font-size: 0.6rem;
    color: #fff;
    width: 80%;
    min-width: fit-content;
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border: 2px dotted white;
    border-radius: 15px;
    margin-right: 3em;

    animation: blink 1.5s infinite;

    @keyframes blink {
      50% {
        opacity: 0.7;
      }
    }

    h1 {
      margin-top: 0.2rem;
      padding: 0;
    }

    input {
      animation: shake 0.5s;

      @keyframes shake {
        0% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(10px);
        }
        50% {
          transform: translateX(0);
        }
        75% {
          transform: translateX(-10px);
        }
        100% {
          transform: translateX(0);
        }
      }
    }

    button {
      margin-left: 10px;
      background-color: #fff;
      border: none;
      color: #009b77;
      font-weight: bold;
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: yellow;
        color: black;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
    }
  }
}
